@model LinkShortenerService.Models.ViewModels.UserSigninViewModel


@{
    ViewBag.Title = "Kaydol | Link Kısaltma Servisi";
    //Layout = null;
}



<div class="signin-wrapper" style="overflow:hidden;">

    <div class="signin-banner">

    </div>



    <div class="signin-form-container position-absolute">

        <a href=@Url.Action("Index","Home") class="go-welcome-btn"><i class="fa-solid fa-caret-left"></i>Geri</a>


        @using (Html.BeginForm("Signin", "Home", FormMethod.Post, new { @class = "signin-form" }))
        {

            <div class="signin-form-title text-center position-relative mt-5">
                Kaydol
            </div>

            <div class="signin-form-input-container mt-5">
                @Html.LabelFor(x => x.User.Name, new { @class = "signin-form-input-label active" })

                @Html.TextBoxFor(x => x.User.Name, new { @class = "signin-form-input active", autocomplete = "off",autofocus="true" })

                <div class="input-underline active"></div>

                @Html.ValidationMessageFor(x => x.User.Name, "", new { @class = "signin-form-input-validation-message" })

            </div>


            <div class="signin-form-input-container">
                @Html.LabelFor(x => x.User.Surname, new { @class = "signin-form-input-label" })

                @Html.TextBoxFor(x => x.User.Surname, new { @class = "signin-form-input", autocomplete = "off" })

                <div class="input-underline"></div>

                @Html.ValidationMessageFor(x => x.User.Surname, "", new { @class = "signin-form-input-validation-message" })

            </div>



            <div class="signin-form-input-container">
                @Html.LabelFor(x => x.User.Email, new { @class = "signin-form-input-label" })

                @Html.TextBoxFor(x => x.User.Email, new { @class = "signin-form-input", autocomplete = "off" })

                <div class="input-underline"></div>

                @Html.ValidationMessageFor(x => x.User.Email, "", new { @class = "signin-form-input-validation-message" })

            </div>



            <div class="signin-form-input-container">
                @Html.LabelFor(x => x.Password, new { @class = "signin-form-input-label" })

                @Html.TextBoxFor(x => x.Password, new { @class = "signin-form-input", autocomplete = "off", type = "password" })

                <div class="input-underline"></div>



                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "signin-form-input-validation-message" })
                <div class="show-password">
                    <i class="show fa-solid fa-eye"></i>
                    <i class="hide fa-solid fa-eye-slash d-none"></i>
                </div>
            </div>




            <div class="signin-form-send-container">

                <button type="submit" class="signin-form-send-btn">Gönder</button>

            </div>



        }

    </div>

</div>


<script src="~/Scripts/jquery-3.6.1.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>

    document.addEventListener("DOMContentLoaded", function () {



        var signinInputs = document.querySelectorAll(".signin-form-input-container .signin-form-input");
        var signinInputLabels = document.querySelectorAll(".signin-form-input-container .signin-form-input-label");
        var signinInputUnderlines = document.querySelectorAll(".signin-form-input-container .input-underline");




        for (var i = 0; i < signinInputs.length; i++) {

            if (signinInputs.item(i).value != "") {
                signinInputs.item(i).previousElementSibling.classList.add("active");

            }

            signinInputs.item(i).addEventListener("focus", function (e) {

                e.stopPropagation();

                for (var i = 0; i < signinInputLabels.length; i++) {

                    if (signinInputLabels.item(i).nextElementSibling.value == "" && !signinInputLabels.item(i).classList.contains("except")) {
                        signinInputLabels.item(i).classList.remove("active");
                    }

                }

                for (var i = 0; i < signinInputUnderlines.length; i++) {
                    signinInputUnderlines.item(i).classList.remove("active");
                }


                this.previousElementSibling.classList.add("active");
                this.nextElementSibling.classList.add("active");


            })
        }






        /*Şifre aç kapa işlemi*/


        var inputPassword = document.querySelector("#Password");

        var showPassword = document.querySelector(".show-password .show");
        var hidePassword = document.querySelector(".show-password .hide");


        showPassword.addEventListener("click", function (e) {
            inputPassword.setAttribute("type", "text");
            showPassword.classList.add("d-none");
            hidePassword.classList.remove("d-none");
        });


        hidePassword.addEventListener("click", function (e) {
            inputPassword.setAttribute("type", "password");
            hidePassword.classList.add("d-none");
            showPassword.classList.remove("d-none");
        });



        UnderlineLabelErrorCheck();

        /*Hata olduğunda label ve underline renginin değiştirilmesi*/

        function UnderlineLabelErrorCheck() {

            var textInputs = document.querySelectorAll(".signin-form-container input[type='text'],.signin-form-container input[type='password']");

            for (var i = 0; i < textInputs.length; i++) {


                if (textInputs.item(i).nextElementSibling.nextElementSibling.classList.contains("field-validation-error")) {

                    textInputs.item(i).previousElementSibling.classList.add("error");

                    textInputs.item(i).nextElementSibling.classList.add("error");

                }
                else if (textInputs.item(i).nextElementSibling.nextElementSibling.classList.contains("field-validation-valid")) {

                    textInputs.item(i).previousElementSibling.classList.remove("error");

                    textInputs.item(i).nextElementSibling.classList.remove("error");


                }


            }
        }



        var textInputs = document.querySelectorAll(".signin-form-container input[type='text'],.signin-form-container input[type='password']");

        for (var i = 0; i < textInputs.length; i++) {

            textInputs.item(i).addEventListener("keyup", function (e) {

                setTimeout(UnderlineLabelErrorCheck, 150);

            });
        }




        var sendBtn = document.querySelector(".signin-form-send-btn");

        sendBtn.addEventListener("click", function (e) {

            setTimeout(UnderlineLabelErrorCheck, 150);


        });


    });


</script>



